# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build / misc
/.next/
/out/
*.tsbuildinfo
next-env.d.ts

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/

# Build artifacts
.turbo
dist/
build/
